@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
:root {
  --white: #fff;
  --black: #000;
  --green-light: #16b92b;
  --green-dark: #148e42;
  --blue-primary: #1878de;
  --orange-primary: #ffbb03;
  --line-dark: #efefef;
  --text-headers: #2d3339;
  --text-body-dark: #434a51;
  --text-body-medium: #686d73; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none; }
  body::-webkit-scrollbar {
    width: 0;
    height: 0; }

button {
  background-color: transparent;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  border: 0;
  outline: none; }

input {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  font: inherit; }

textarea {
  font-size: inherit;
  font-family: inherit;
  font: inherit;
  resize: none;
  outline: none; }

.button {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
  white-space: nowrap;
  border: 1px solid transparent; }
  .button-green {
    background-color: var(--green-light);
    border-color: var(--green-light); }
    .button-green.large {
      font-size: 1.5em;
      font-weight: 600;
      letter-spacing: 0.19px;
      color: var(--white); }
    .button-green.medium {
      font-size: 1.4em;
      font-weight: 600;
      letter-spacing: 0.04px;
      color: var(--white); }
    .button-green.small {
      font-size: 1.3em;
      font-weight: 600;
      letter-spacing: 0.2px;
      color: var(--white); }
  .button-link {
    color: var(--text-body-dark); }

.container {
  padding: 0 10.42%; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #FFF; }
  .header .nav {
    padding: 0 4em;
    height: 7.2em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    background-color: var(--white);
    border: solid 1px var(--line-dark);
    box-shadow: 0 3px 6px 0 rgba(203, 203, 203, 0.16); }
    .header .nav-logo {
      min-width: 22.6em;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      -webkit-justify-content: flex-start;
      -moz-justify-content: flex-start;
      justify-content: flex-start;
      cursor: pointer; }
      .header .nav-logo-img {
        margin-right: .75em;
        min-width: 3em;
        min-height: 3em;
        width: 3em;
        height: 3em;
        max-width: 3em;
        max-height: 3em;
        object-fit: cover; }
      .header .nav-logo-name {
        font-size: 2.45em;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.74px;
        color: #272e39; }
    .header .nav-list {
      width: 100%;
      max-width: 51.6em;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      justify-content: space-between;
      list-style: none; }
      .header .nav-list-item:not(:last-of-type) {
        margin-right: 1.5em; }
      .header .nav-list-item-link {
        display: -webkit-inline-box;
        display: -webkit-inline-flex;
        display: -moz-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        align-items: center;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        -webkit-justify-content: flex-start;
        -moz-justify-content: flex-start;
        justify-content: flex-start;
        font-size: 1.4em;
        font-weight: 500;
        letter-spacing: 0.04px;
        color: var(--text-body-dark);
        cursor: pointer; }
        .header .nav-list-item-link i {
          margin-left: .5rem;
          font-size: 0.6428571429em;
          color: var(--text-body-dark); }
    .header .nav-buttons {
      min-width: 22.6em;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      -webkit-justify-content: flex-end;
      -moz-justify-content: flex-end;
      justify-content: flex-end; }
      .header .nav-buttons .button-link {
        margin-right: 1.7857142857em;
        font-size: 1.4em;
        font-weight: 500;
        letter-spacing: 0.04px; }
      .header .nav-buttons .button-green {
        padding: 0 1.7rem;
        height: 4rem; }
        .header .nav-buttons .button-green i {
          margin-left: .5rem;
          font-size: 1rem; }

.hero {
  position: relative;
  padding-top: 13.8em;
  padding-bottom: 4.5em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  text-align: center; }
  .hero-banner {
    padding: 0 2.57em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    position: fixed;
    top: 7.2em;
    left: 0;
    width: 100%;
    height: 5.8em;
    background-color: #e3f7eb;
    z-index: 1000; }
    .hero-banner-text {
      font-size: 1.4em;
      font-weight: 500;
      line-height: 3.71;
      letter-spacing: normal;
      color: var(--green-dark); }
      .hero-banner-text button, .hero-banner-text span, .hero-banner-text a {
        color: #006fd4;
        cursor: pointer; }
        .hero-banner-text button:hover, .hero-banner-text span:hover, .hero-banner-text a:hover {
          text-decoration: underline; }
    .hero-banner i {
      position: absolute;
      top: 50%;
      right: 2.57rem;
      transform: translate(0, -50%);
      font-size: 1.2em;
      color: var(--green-dark);
      cursor: pointer; }
  .hero-title {
    font-size: 4.2em;
    font-weight: 700;
    line-height: 1.31;
    letter-spacing: 0.11px;
    color: var(--black);
    margin-bottom: 0.7619047619em; }
  .hero-text {
    max-width: 40.125em;
    font-size: 1.6em;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.04px;
    color: var(--black);
    margin-bottom: 2em; }
  .hero .button-green {
    margin-bottom: 1.7333333333em;
    padding: 0 1.8666666667em;
    height: 3.3333333333em; }
  .hero-caption {
    font-size: 1.2em;
    font-weight: 500;
    line-height: 2.17;
    letter-spacing: 0.09px;
    color: var(--text-body-medium); }

.feature {
  padding-top: 4em;
  padding-bottom: 4em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center; }
  .feature.left .feature-media {
    margin-right: 13.4em; }
  .feature.left .phone-01 {
    top: 0;
    left: 0; }
  .feature.left .phone-02 {
    bottom: 0;
    right: 1.1em; }
  .feature.right {
    -webkit-box-direction: reverse;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row-reverse;
    -moz-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }
    .feature.right .feature-media {
      margin-left: 13.4em; }
    .feature.right .phone-01 {
      bottom: 0;
      left: 0; }
    .feature.right .phone-02 {
      top: 0;
      right: 1.1em; }
  .feature.feature-01 .feature-main-title {
    max-width: 10.2941176471em; }
  .feature.feature-01 .feature-main-text {
    max-width: 27.5625em; }
  .feature.feature-02 .feature-main-title {
    max-width: 12.9411764706em; }
  .feature.feature-02 .feature-main-text {
    max-width: 24.6875em; }
  .feature-media {
    position: relative;
    min-width: 57.5em;
    min-height: 57.5em;
    width: 57.5em;
    height: 57.5em;
    max-width: 57.5em;
    max-height: 57.5em; }
    .feature-media-circle {
      position: absolute;
      top: 0;
      right: 0;
      min-width: 46em;
      min-height: 46em;
      width: 46em;
      height: 46em;
      min-width: 46em;
      min-height: 46em;
      background-image: linear-gradient(to bottom, #ffdb45, #ffb11f);
      border-radius: 100vh; }
    .feature-media-phone {
      position: absolute;
      width: 28.2em;
      height: 52.3em;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      justify-content: center; }
      .feature-media-phone-content {
        width: 80.14%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover; }
      .feature-media-phone-frame {
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover; }
  .feature-main-subtitle {
    margin-bottom: 0.5333333333em;
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: normal;
    color: #ffb42d; }
  .feature-main-title {
    width: 100%;
    margin-bottom: 0.9411764706em;
    font-size: 3.4em;
    font-weight: 700;
    line-height: 1.29;
    letter-spacing: normal;
    color: var(--text-headers); }
  .feature-main-text {
    width: 100%;
    margin-bottom: 2.25em;
    font-size: 1.55em;
    font-weight: 400;
    line-height: 1.81;
    letter-spacing: normal;
    color: #2d353c; }
  .feature-main-link {
    font-size: 1.55em;
    font-weight: 600;
    letter-spacing: normal;
    color: var(--blue-primary);
    cursor: pointer; }
    .feature-main-link:hover {
      text-decoration: underline; }

.showcase {
  padding-top: 8.7em;
  padding-bottom: 7.5em;
  text-align: center;
  background-image: linear-gradient(to top, #ffffff, #fdfdfd 49%, #f7f8fa); }
  .showcase-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start; }
    .showcase-header-subtitle {
      margin-bottom: 0.5em;
      font-size: 1.5em;
      font-weight: 700;
      line-height: 1.2;
      letter-spacing: normal;
      color: #ffb42d; }
    .showcase-header-title {
      margin-bottom: 0.6666666667em;
      font-size: 3.6em;
      font-weight: 700;
      line-height: 1.33;
      letter-spacing: normal;
      color: var(--black); }
      .showcase-header-title i {
        margin: 0 .5rem;
        font-size: 0.75em; }
    .showcase-header-text {
      margin-bottom: 1.9333333333em;
      width: 100%;
      max-width: 39.0666666667em;
      font-size: 1.55em;
      font-weight: 400;
      line-height: 1.81;
      letter-spacing: normal;
      color: #2d353c; }
  .showcase-main-header-nav {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center; }
    .showcase-main-header-nav-item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      justify-content: center;
      cursor: pointer; }
      .showcase-main-header-nav-item:not(:last-of-type) {
        margin-right: 4.5em; }
      .showcase-main-header-nav-item.active .showcase-main-header-nav-item-link {
        color: var(--green-light); }
      .showcase-main-header-nav-item-link {
        font-size: 1.45em;
        font-weight: 600;
        letter-spacing: normal;
        color: #333e48;
        cursor: pointer; }
    .showcase-main-header-nav-line {
      position: absolute;
      bottom: -10px;
      width: 119px;
      height: 0;
      margin: 11px 0 0;
      border-top: solid 3px var(--green-light); }
  .showcase-main .showcase-media {
    padding-top: 4.2em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center; }
    .showcase-main .showcase-media-phone {
      position: relative;
      width: 28.2em;
      height: 52.3em;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      justify-content: center; }
      .showcase-main .showcase-media-phone:not(:last-of-type) {
        margin-right: 1.6em; }
      .showcase-main .showcase-media-phone-content {
        width: 80.14%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover; }
      .showcase-main .showcase-media-phone-frame {
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover; }

.dashboard {
  padding-top: 6.4em;
  padding-bottom: 6em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  text-align: center;
  background-image: linear-gradient(to top, #ffffff, #fdfdfd 49%, #f7f8fa); }
  .dashboard-subtitle {
    margin-bottom: 0.4444444444em;
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: normal;
    color: #ffb42d; }
  .dashboard-title {
    margin-bottom: 0.6666666667em;
    font-size: 3.6em;
    font-weight: 700;
    line-height: 1.33;
    letter-spacing: normal;
    color: var(--black); }
  .dashboard-text {
    width: 100%;
    font-size: 1.55em;
    font-weight: 400;
    line-height: 1.81;
    letter-spacing: normal;
    color: #2d353c; }
    .dashboard-text.text-01 {
      margin-bottom: 2.1333333333em;
      max-width: 34.6666666667em; }
    .dashboard-text.text-02 {
      margin-bottom: 1.8666666667em;
      max-width: 43em; }
  .dashboard-img {
    margin-bottom: 4.2em;
    width: 100%;
    max-width: 86em;
    height: auto;
    object-fit: cover; }
  .dashboard-buttons {
    margin-bottom: 3.2em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center; }
    .dashboard-buttons .button {
      padding: 0 1.5714285714em;
      height: 3em; }
      .dashboard-buttons .button:not(:last-of-type) {
        margin-right: 2em; }
      .dashboard-buttons .button-link {
        font-size: 1.4em;
        font-weight: 400;
        letter-spacing: 0.04px;
        color: #1b2026; }
        .dashboard-buttons .button-link:hover {
          text-decoration: underline; }
  .dashboard-link {
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: normal;
    color: var(--blue-primary);
    cursor: pointer; }
    .dashboard-link:hover {
      text-decoration: underline; }

.cards {
  padding: 4em 6.94% 9.4em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  background-color: var(--white); }
  .cards .card {
    padding: 4.8em 2em;
    width: 100%;
    max-width: 38em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    border-radius: 22.5px;
    background-color: #f8f8f8;
    text-align: center; }
    .cards .card:not(:last-of-type) {
      margin-right: 5em; }
    .cards .card-subtitle {
      margin-bottom: 0.8571428571em;
      font-size: 1.4em;
      font-weight: 600;
      color: #0c0e10; }
    .cards .card-title {
      margin-bottom: 1.7em;
      width: 100%;
      max-width: 10em;
      font-size: 2em;
      font-weight: 600;
      line-height: 1.4;
      letter-spacing: normal;
      color: #0c0e10; }
    .cards .card .button {
      width: 100%;
      max-width: 12.8571428571em;
      height: 2.8571428571em; }

.get-started {
  padding-top: 8em;
  padding-bottom: 8em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  background-color: #f8f8f8;
  text-align: center; }
  .get-started-title {
    margin-bottom: 0.8888888889em;
    font-size: 3.6em;
    font-weight: 700;
    line-height: 1.33;
    letter-spacing: normal;
    color: var(--black); }
  .get-started-text {
    margin-bottom: 2.1333333333em;
    width: 100%;
    font-size: 1.55em;
    font-weight: 400;
    line-height: 1.81;
    letter-spacing: normal;
    color: #2d353c; }
  .get-started .button {
    padding: 0 2.0666666667em;
    margin-bottom: 2.1333333333em;
    height: 3.3333333333em; }
  .get-started-caption {
    font-size: 1.2em;
    font-weight: 500;
    line-height: 2.17;
    letter-spacing: 0.09px;
    color: var(--text-body-medium); }

.footer {
  padding: 4.9em 10em 0; }
  .footer-main {
    margin-bottom: 8.1em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between; }
    .footer-main-brand-img {
      margin-bottom: 2.2em;
      min-width: 6.2em;
      min-height: 6.2em;
      width: 6.2em;
      height: 6.2em;
      max-width: 6.2em;
      max-height: 6.2em; }
    .footer-main-brand-name {
      margin-bottom: 0.6428571429em;
      font-size: 1.4em;
      font-weight: 700;
      letter-spacing: normal;
      color: #333e48; }
    .footer-main-brand-location {
      font-size: 1.25em;
      font-weight: 400;
      letter-spacing: 0.16px;
      color: #333e48; }
    .footer-main-nav {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
      -ms-flex-align: start;
      -webkit-align-items: flex-start;
      -moz-align-items: flex-start;
      align-items: flex-start;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      -webkit-justify-content: flex-start;
      -moz-justify-content: flex-start;
      justify-content: flex-start; }
      .footer-main-nav-list {
        width: 18em;
        list-style: none; }
        .footer-main-nav-list-item {
          width: 100%; }
          .footer-main-nav-list-item-title {
            margin-bottom: 1.4285714286em;
            font-size: 1.4em;
            font-weight: 600;
            letter-spacing: 0.07px;
            color: var(--text-headers); }
          .footer-main-nav-list-item-link {
            margin-bottom: 1.2857142857em;
            font-size: 1.3em;
            font-weight: 400;
            letter-spacing: 0.1px;
            color: #49525c;
            cursor: pointer; }
            .footer-main-nav-list-item-link:hover {
              text-decoration: underline; }
  .footer-bottom {
    padding-top: 3.2em;
    border-top: solid 2px #ebeaeb; }
    .footer-bottom-top {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
      -ms-flex-align: start;
      -webkit-align-items: flex-start;
      -moz-align-items: flex-start;
      align-items: flex-start;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      justify-content: space-between; }
      .footer-bottom-top-list {
        margin-bottom: 3.1em;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        align-items: center;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        -webkit-justify-content: flex-start;
        -moz-justify-content: flex-start;
        justify-content: flex-start; }
        .footer-bottom-top-list-item {
          font-size: 1.3em;
          font-weight: 600;
          letter-spacing: normal;
          color: var(--text-headers); }
          .footer-bottom-top-list-item:not(:last-of-type) {
            margin-right: 1.6923076923em; }
          .footer-bottom-top-list-item:hover {
            cursor: pointer;
            text-decoration: underline; }
      .footer-bottom-top-link {
        font-size: 1.3em;
        font-weight: 600;
        letter-spacing: normal;
        color: #1263a3; }
        .footer-bottom-top-link:hover {
          cursor: pointer;
          text-decoration: underline; }
    .footer-bottom-copy {
      padding-bottom: 3.2em; }
      .footer-bottom-copy-text {
        opacity: .71;
        font-size: 1.15em;
        font-weight: 400;
        letter-spacing: 0.14px;
        color: #1d1d1d; }
